<a href="https://colab.research.google.com/github/aelshehawy/text-as-data-computational-text-analysis-oxford/blob/main/Code/Python_Refresher_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to Python Refresher Session 1**

In [ ]:
from IPython.display import Image
Image(url='https://media.giphy.com/media/gkQQqnFR1hhhuYPQHh/giphy.gif')

## Let's get to know each other!

## **Organizational**

## Microsoft Teams - Mainly for Communication

- general: admin, general news, class links, general questions
- windows-Support: channel for all windows related issues, we are going to try to solve them together through group effort
- debugging_code: All excercise and python related questions
- relevant literature: posting any literature we find highly relevant and interesting
- office hours: office hours links and sign up sheet

## Github

**Why use GitHub?**

- Open Source
- Have your code reviewed by the community
- Give your projects visibility
- Collaborate and track changes for your code visibly
- Newsfeed with latest updates - You can  see what changes have been made in any other repositories you follow. 
- Explore repositories -  On the right of your dashboard, you can locate suggested repositories to follow — these suggestions are based on repositories you have followed or starrted.

**How do we use Github?**

- Fork a rep: Create a new project based on a project that already exists - you can fork our repository https://github.com/aelshehawy/text-as-data-computational-text-analysis-oxford to have a copy in your profile that you can edit  <br>
Use fork to work on new features and submit pull requests containing your new changes to the original repository.
- Pull Request:  Authors of the original repository can see your work & choose if they want to accept it to the official project.
- Star: Bookmark repository
- Desktop version is really nice, you can work on your computer, have a local copy of repositories and fetch updates

**Use GitHub to pull data for the class**

*My recommendation would be to open Colab sheets from Github and save your edits in your Google Drive.*

You can also download the whole repository with one click: https://github.com/aelshehawy/text-as-data-computational-text-analysis-oxford


**You could also use GitHub Desktop:**<br> 
if you have forked our class's repository, then clone my repository on your computer and keep fetching changes.

**Just explore and play with GitHub whe you have time**

## Google Colab Sheets

- Can be used with browsers like Chrome of Firefox
- Saves installation time and effort. Easily use available libraries.
- All your notebooks can be saved directly in your Google Drive
- Excellent for collaborations!
- Check this link for more information https://colab.research.google.com/notebooks/basic_features_overview.ipynb

### So how does it work?

1. To create a new cell you click +
2. To run a cell you need to press the play button
3. You can create cells where you write text by clicking on the + Text button. Here is a cheat sheet [link](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) for markdown, probably you have already used it in R. 
4. If you need to clear everything that is saved in a python notebook (remove saved variables/data etc.). You can click on Edit and choose **clear all output**
6. Save notebooks on your Google Drive - Don't forget!
7. Useful Shortcuts under Tools: Example: Control m m will convert a code cell to a text cell. Control m y will convert a text cell to a code cell.

## **What are we learning in this coding session today**

Mainly: Basic Operations of Python

* Python Interactive Shell: Print Function
* Assigning Variables and Values
* Understanding Different Types of Objects in Python
* Mathematical Operations
* Boolean Operations
* Transformation of Objects
* Input function 
* Combining Objects
* Understanding Python Strings

## Python Interactive Shell

### The print function
Here you can use print() built in function for python to print strings, intergers etc. <br>
To print a string you need to wrap it in ""

In [ ]:
 #we use single or double quotation marks
 #Welcome to Text Analysis Class

In [ ]:
 #why do we have an error
 #print("Welcome)

In [ ]:
#print strings

In [ ]:
#print numbers

In [ ]:
# you can print intergers and strings together like this - seperate with a comma

In [ ]:
# using the hashtag to comment out lines or comment your code

### Assign variable values
here we save a value inside of a variable - exactly as we do with other statistical programmes like R and Stata

In [ ]:
#assign string to a variable
welcome

as we saved the string within the variable welcome, we can use python's built in function print() to see what we have saved

In [ ]:
#print assigned string

In [ ]:
#another way of seeing what was saved
welcome

Same goes with intergers and calculations

In [ ]:
#mathematical calculation
calculation

In [ ]:
print(calculation)
calculation #the product of the evaluation

**Take care of overwritting**

In [ ]:
calculation=(10*10)
calculation

using variables that we have already assigned

In [ ]:
# To calculate m=x+y
x
y

In [ ]:
x

In [ ]:
y

In [ ]:
m
m

In [ ]:
#example of a common error
z 
print(z)

In [ ]:
#why does it work here
print("z")

In [ ]:
#multiplication example


multiplication

In [ ]:
#combine objects - calculation, welcome, m
combine

In [ ]:
x=7
x
print(x)

## What type of Object are we using?

In [ ]:
#define object

In [ ]:
#check type using print function

In [ ]:
#check type from within the print function for strings

In [ ]:
#check type from within the print function for strings for intergers

In [ ]:
#float: a number that has both an integer and fractional part, separated by a point.

In [ ]:
#boolean type, a statement that is false or true
a 
b

In [ ]:
type(a)
type(b)

## Maths

In [ ]:
#you can use python to perform mathematical operations

In [ ]:
#you can also use the print function to achieve the same thing

In [ ]:
#multiplication

In [ ]:
#Power

In [ ]:
# Multiplication, division interger, division float, remainder, and exponentiation
print(3 * 5)
print(10 / 3)
print(10 // 3)
print(18 % 7)
print(4 ** 2)

In [ ]:
A= #interger division
print(A)

In [ ]:
A= #float division
print(A)

In [ ]:
#It is important to know that python needs brackets to understand what it should calculate first
#Lets experiment

In [ ]:
(1666-20+40)*(800-10)*(300+20)

In [ ]:
(1666-20+40*800-10*300+20)

## Boolean operations

In [ ]:
print(type(True))

In [ ]:
print(100 < 2)
print(3 > 7)

In [ ]:
print(2 <= 3)
print(2 <= 2)
print(3 >= 99)
print(55 == 55)

In [ ]:
print("dpir" == "dpir")
print("dice" != "ice")

In [ ]:
a == b #these objects are equal to each other?

In [ ]:
a!=b #these objects are not equal to each other?

## Transform Objects

In [ ]:
#assign numerical values
number1= 100
number2= 2.3

number1

In [ ]:
#transform to string

In [ ]:
#transform to interger

## Input from keyboard

In [ ]:
answer_this_question

In [ ]:
answer_this_question

## Combining Objects

In [ ]:
#combine objects - example 1
text 

text

In [ ]:
#combine objects - example 2
intergers="2"+"3"
print(intergers) #check the combining operation
print(type(intergers)) #check the type of the object

In [ ]:
#combine objects - example 3

intergers=2+3
intergers
#what is different here?

In [ ]:
print(type(intergers))
intergers
# see the difference between this and the cell above?

In [ ]:
#conversions - we talked about transforming types of objects 
#we can save an item as string here s1="5"

s1
x  #we transform first s1 as interger and then we multiply it by 3
print (x) # check result 5*3=15

In [ ]:
#check if python observes two strings to be the same

## Understanding Python Strings

inputting a string

In [ ]:
#it doesnt matter whether you use single or double quoted strings to save a string object
string1 = "Hi this is session one"
string2 = 'And I am loving python'

In [ ]:
#checking what is in the strings?
print(string1)
print(string2)

*what* if we wanna make sure if there is a specific word in the saved string? <br>
let's try with *is* and *am*

### Manipulating string

In [ ]:
#enter your name
myname=

In [ ]:
#if I want to make letter uppercase
print(myname.title())

In [ ]:
#if I want to make the whole string uppercase
print (myname.upper())

### Strip space

In [ ]:
#define a variable that includes a string
university=" University of Oxford "
print(university)

In [ ]:
#remove all leading and ending spaces
university1=university.strip()
print(university1)

In [ ]:
#remove all space characters in sentence

In [ ]:
#we can replace letters as well
university2

### Count number of words and letters

In [ ]:
#count number of charachters incluing white space
university="University of Oxford in Oxford"

In [ ]:
#if we use this we remove the white space and the count without replace
university1

In [ ]:
#does the same as above

In [ ]:
#count number of words

In [ ]:
# split function splits by white-space

In [ ]:
#count number of occurence of letter

# Excercies

In [ ]:
#Excercise 1

# a- Print the multiplication of 7 and 8, save them in a variable called mult
# b- Calculate 5^2, save in a variable called power
# print the results

In [ ]:
#Excercise 2

#calculate how many weeks in 10 years - approximately
#hints:
#save the number of weeks in a year in a variable called weeks
#save the number 10 in a variable called 10 years
#specificy and print outcome - variable named weeksin10years

In [ ]:
#Excercise 3

# Print the interger of the division of 244 by 5 and save them in a variable called division

In [ ]:
#Excercise 4

# Calculate the area of a circle
# 1) define the variables that you need - pi and r, in that case r=3
# 2) write the equation
# 3) make sure you have a float type answer
# 4) print out the result

In [ ]:
#Excercise 5

# Request the name of the user
# Request the age of a user
#print out the name and age of the user in a sentence using the variables you have defined for age and name

In [ ]:
#Excercise 6

# Fix the errors here
# Fix the printout

print("I have" + " " +randomnumber1 + " of apples and" + " " + randomnumber2 + " " + "of bananas!")

In [ ]:
#Excercise 7

#Display “My Name Is [insert your name]” as “My**Name**Is**[insert your name]” using output formatting of a print() function
#Hint: understand the "sep" command in Python

In [ ]:
#Excercise 8

#Display float number with 2 decimal -40400.2233- places using print()

In [ ]:
#Excercise 9

#fix this code 

print "This doesnt work"
print('This doesn't work')
input('Input your age: ')
print(name

In [ ]:
#Excercise 10

# a- Ask the user to input a number
# b- Ask the user to input another number
# c- Calculate the total of the two numbers added together

#Hint use input for a and b


**Exercise 11**

1. count how the occurence of each letter in the sentence. Hint: use the Counter library in python
2. count number of characters/letters only (no white space, no punctuation) - hint use the replace in-built function in python.

In [ ]:
sentence=("Hello World, I am so excited; to finally be able to get out of quarantine and meet all my friends")

**Excercise 12**

why do we see an error message here

In [ ]:
var = 100 + "the number 100"

**Excercise 13**

Save your first and last name in lowercase in seperate variables: firstname, lastname
Save first and last name together in a new variable fullname
Print your fullname where the first letter of each name is capitalized
Hint

Make sure there is space between both names

**Excercise 14**

Count number of lowercase and uppercase letters

Note: There are several ways to do this