<a href="https://colab.research.google.com/github/aelshehawy/text-as-data-computational-text-analysis-oxford/blob/main/Code%20Solutions/Python_Refresher_2_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Main Learning Goals today:

**Libraries in Python**

**Data Structures in Pyton**

**Loops**
* for loops
* if, else, elif loops - conditional loops
* while loops
* continue and break commands

**Appending Lists**

**Defining Functions**

**Revise list comprehesion**

**Join command**

**Opening, Closing, Updating text files**
* Python inbuilt open command
* codecs library

**Basic Text Processing Operations**
* look for words
* count words
* remove punctuation
* remove digits

## Libraries in Python
Usually you enter in terminal ``pip install [project name]``, best is to check source documentation of project. <br>
Example: https://pypi.org/project/Counter/

However, Google Colab has a lot of pre-installed libraries.
If there is a library we still need to import here - this is a good reference to how to do that https://colab.research.google.com/notebooks/snippets/importing_libraries.ipynb

Usually we will have to use this command ``!pip install`` within a code cell.

In [ ]:
# you need a library to count faster, this is a very powerful library that we wil use in the future
from collections import Counter
uni="University of Oxford"
Counter(uni) # here we count how much each letter appears, counter can do much more

Counter({' ': 2,
         'O': 1,
         'U': 1,
         'd': 1,
         'e': 1,
         'f': 2,
         'i': 2,
         'n': 1,
         'o': 2,
         'r': 2,
         's': 1,
         't': 1,
         'v': 1,
         'x': 1,
         'y': 1})

# Data Structures in Python

### Lists

ordered, changable, allows duplicated items

In [ ]:
quarantine =['baking','zoom',"productiveness","instagram","netflix","social distancing"]
print(quarantine)

['baking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social distancing']

In [ ]:
random=[2,5,6,2,3,4]
print(random)

[2, 5, 6, 2, 3, 4]

In [ ]:
len(quarantine) # we see we have 6 items in our list

6

In [ ]:
len(random)

6

**VERY IMPORTANT** In Python counting of items/observations always starts with 0

In [ ]:
quarantine[5]

'social distancing'

In [ ]:
#select items
quarantine_food_edition=quarantine[0]
quarantine_food_edition

'baking'

In [ ]:
#select range, slice slice
quarantine_fun_edition=quarantine[0:]
quarantine_fun_edition

['baking',
 'zoom',
 'productiveness',
 'instagram',
 'netflix',
 'social distancing']

### Dictionaries

A dictionary has a key and a corresponding value <br>
How to create a dictionary?

In [ ]:
myshoppingitems = ['Pasta', 10, 'Pesto', 20, 'Chocolate', 5]
myshoppingitems

['Pasta', 10, 'Pesto', 20, 'Chocolate', 5]

In [ ]:
myshoppingitems = {'Pasta': 10, 'Pesto': 20, 'Chocolate': 5}
myshoppingitems

{'Chocolate': 5, 'Pasta': 10, 'Pesto': 20}

In [ ]:
emptydictionary = dict()
emptydictionary

{}

Add first item to the dictionary, dictionary keys should always be unique

In [ ]:
emptydictionary['Pasta'] = 10
print(emptydictionary)

{'Pasta': 10}

In [ ]:
emptydictionary['Pesto'] = 20
emptydictionary

{'Pasta': 10, 'Pesto': 20}

In [ ]:
#Access key,item in a dictionary
emptydictionary['Pesto']

20

### Tuples

- immutable sequence of Python objects - you cannot update or change the values of tuple elements
- their advantage is that they have a fixed value

In [ ]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
print(tuple1)

('noon', 'morning', 'afternoon', 'evening')

create tuple of one value, you always need a comma at the end

In [ ]:
tupele2 = (1,)
tupele2

(1,)

you can access values

In [ ]:
print(tuple1[3])

evening

you can not modify within tuples, but you can concate different tuples

In [ ]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
tuple2 = ('12', '10', "16", "18")
tuplemix=tuple1+tuple2
tuplemix

('noon', 'morning', 'afternoon', 'evening', '12', '10', '16', '18')

you can not modify within tuples, but you can repeat tuples in a new tuple

In [ ]:
tuplemultiply=tuple2*2
tuplemultiply

('12', '10', '16', '18', '12', '10', '16', '18')

you can check membership

In [ ]:
3 in tuple2

False

### Sets

What is a set? It is an unordered collection of items. You can not be sure in which order the items will appear.

Elements of the set:
1. must be unique - doesnt allow for duplicate elements
2. elemenets can not be changed (you can not access items by refering to an index, as done in lists - as the set is unordered)

The set as a whole is mutable, we can add and remove items from it

Usually sets are used to for mathematical operations like, union and intersection

In [ ]:
#creation of sets

set1 = {8, 2, 3, 20, 13, 100}
set2 = {"apple",2,3, "orange"}
print(set1)
print(set2)

{2, 3, 100, 8, 13, 20}
{'orange', 2, 3, 'apple'}

In [ ]:
# no duplication allowed

set3 = {8, 2, 3, 20, 13, 100, 20, 3}
print(set3)

{2, 3, 100, 8, 13, 20}

In [ ]:
# transform a list to a set

newlist=[8,20,33,400]
newset = set(newlist)
print(newset)
print(type(newset))

{8, 33, 20, 400}
<class 'set'>

In [ ]:
#mutability of set

#add an item
newset.add(2)
print(newset)

{33, 2, 8, 400, 20}

In [ ]:
#to add more than one item you use update
newset.update([100, 5, 6])
print(newset)

{33, 2, 100, 5, 6, 8, 400, 20}

In [ ]:
# discard an item (similar remove - however remove will show an error if the item is not in the set)
newset.discard(3)
print(newset)

{33, 2, 100, 5, 6, 8, 400, 20}

### List Comprehension

This is a very important method that will help you a lot in the future!

In [ ]:
#Lets define a list
letters=["a","b","c"]
#we want to print out letter by letter in that list

In [ ]:
letters[0]
letters[1]
letters[2]

'c'

**Why do we use list comprehesion?**

Basically to create a list based on another items of a list.
We go through each element of the list.

In [ ]:
numbers=[1,2,3,4,5,6]

In [ ]:
squares = [x**2 for x in numbers]
squares

[1, 4, 9, 16, 25, 36]

In [ ]:
#lets define a list

random = 'Today is a sunny day, I need some Vitamin D'
#to lower text
random_lower = [  x for x in random.lower()] #we say for each word (x) in the list we call random lower the text
random_lower

['t',
 'o',
 'd',
 'a',
 'y',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 'u',
 'n',
 'n',
 'y',
 ' ',
 'd',
 'a',
 'y',
 ',',
 ' ',
 'i',
 ' ',
 'n',
 'e',
 'e',
 'd',
 ' ',
 's',
 'o',
 'm',
 'e',
 ' ',
 'v',
 'i',
 't',
 'a',
 'm',
 'i',
 'n',
 ' ',
 'd']

In [ ]:
random_lower ="".join(random_lower)
random_lower

'today is a sunny day, i need some vitamin d'

In [ ]:
grades = [88, 94,100, 99, 70,98,55,20]

# to choose grades above 80
[g for g in grades if g > 80] 
# for each grade (we call it here g) in the grades list give back the numbers if they are above 80

[88, 94, 100, 99, 98]

# Loops

Important if you want to carry out operations in sequence.

![Pandas](https://media.giphy.com/media/ieaUdBJJC19uw/giphy.gif)

## For loops

Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [ ]:
#simple loops


for l in ["a","b","c"]: # for each letter in the list, print each letter
    print(l)

a
b
c

In [ ]:
for number in ["100","300","8"]: # for each number in the list, print each number
    print(number)

100
300
8

In [ ]:
#range

for x in range(2, 7):
    print(x)

2
3
4
5
6

In [ ]:
#we can try with tuples
tuple1 = ("new", 'tuple', 1,2,2)

for i in tuple1:
    print(i)

new
tuple
1
2
2

In [ ]:
#tuples within a list
cities_continents = [('Alexandria', 'Africa'),('Berlin', 'Europe')\
                     ,('New York', 'North America'),\
                     ('Mexico City', 'North America')]
cities_continents

[('Alexandria', 'Africa'),
 ('Berlin', 'Europe'),
 ('New York', 'North America'),
 ('Mexico City', 'North America')]

**Excercise**

In [ ]:
#what if we want to always print out the the city and its corresponding continent
#there are several ways to do this

In [ ]:
#answer 

for i in cities_continents:
    print(i[0],i[1])

Alexandria Africa
Berlin Europe
New York North America
Mexico City North America

**Indentation is important**

In [ ]:
counter=0
for i in range(10):
    counter = counter + 1
print (counter)

10

We set the value 0 to the variable counter<br/>
we tell python for numbers in the range 10, keep adding 1 to each of them<br/>
*important: we start with 0*


|Iteration #|Calculation|Result|
|-----------|:----------|:-----|
|1| 0+1|=1|
|2| 1+1|=2|
|3| 2+1|=3|
|4| 3+1|=4|
|5| 4+1|=5|
|6| 5+1|=6|
|7| 6+1|=7|
|8| 7+1|=8|
|9| 8+1|=9|
|10| 9+1|=10|

**Continue and break statements in for-loops**

- Use break when you want to escape the loop
- Use continue to continue with the next iteration of the loop after a specified value

In [ ]:
greeting = "Good-morning"

for l in greeting:
    print(l)
    if l =="m":
        break

G
o
o
d
-
m

In [ ]:
word = "Good-morning"

for letter in word:
    if letter =="o":
        continue
    print(letter)

G
d
-
m
r
n
i
n
g

## If-else-statements with loops - Conditional Statements

### Lets start with simple cases

In [ ]:
#if then loop

for i in range(10): #for all numbers in the range from 0-9
    if i < 5: # print the numbers that are less then 5
        print (i)

0
1
2
3
4

In [ ]:
time_appointment = 13
time_showup = 14


if(time_showup > 13):
    print("You are late!")

You are late!

### If-else statements

In [ ]:
#indentation matters
#check the structure

for item in ['Python', 'is', 'really', 'useful', 'right?']:
    if item.startswith('r'): # important function to note
        print(item, '- starts with the letter r')
    else:
        print(item, '- doesnt start with the letter r')

Python - doesnt start with the letter r
is - doesnt start with the letter r
really - starts with the letter r
useful - doesnt start with the letter r
right? - starts with the letter r

What is going on in here?

- For each item in the list
- iIf the item starts with the letter r (use startswith() function)
- Then print the item name and the sentence "starts with letter r"
- ELSE: If the item doesnt start with the letter r - this is why we use else
- Then print the item name and the sentence "doesnt starts with letter r"

### If-elif-else statement

We check different conditions if they hold

- check multiple expressions for TRUE 
- run code until one of the conditions becomes to TRUE
- if no condition is found to be TRUE, else will be executed

In [ ]:
luckynumber = 100

if luckynumber == 200:
    print ("Nop")
elif luckynumber == 150:
    print ("Still no")
elif luckynumber == 100:
    print ("Yes thats it")
elif luckynumber == 90:
    print ("so close")
else:
    print ("You are not even close")

Yes thats it

In [ ]:
if luckynumber == 200:
    print ("Nop")
elif luckynumber == 150:
    print ("Still no")
elif luckynumber == 90:
    print ("close")
elif luckynumber == 99:
    print ("so close")
else:
    print ("You dont know my lucky number")

You dont know my lucky number

## While statements in Python

**Repeats a statement while a given condition is TRUE. **

**Difference while and for loops**

while loop - used for looping until a condition is satisfied and when we are unsure how many times the code should be running in the loop

for loop - used for looping until a condition is satisfied but it is used when you know how many times the code needs to run in the loop

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1  # This is a statement to update the counter, add 1 to count and put the result of that addition back into acount.

0
1
2
3
4

In [ ]:
#count = 0
#while count < 5:
   # print(count)
      #indefinite loop

In [ ]:
#remove one by one
a = ['a', 'b', 'c']
while a:
     print(a.pop(-1))

c
b
a

In [ ]:
a

[]

In [ ]:
n = 5
while n > 0:
    n -= 1 #Accummulator loop pattern a-=d same as a=a-d
    if n == 2:
        continue
    print(n)
print('End')

4
3
1
0
End

# Appending: Storing items in a list

In [ ]:
list1 = []
for i in range(2, 4): # python will discard in that range the last number which is 4
    list1.append(i*2)
    
list1

[4, 6]

In [ ]:
#list of lists


cities = [ ['Alexandria', 'Cairo', 'Suez', 'Ismalia',"Africa",4], 
             ['Berlin', 'Mannheim', 'Cologne', 'Munich',"Europe",4], 
             ['London', 'Oxford','Cambridge', 'Manchester',"Europe",5] ]

european_list = []
"""I want to save a new list that I will call european_list.
Where if the nested list mentions Europe, I will extract the second city,
which means my list will have Mannheim and Oxford in them.
How can I do this?
"""
for city in cities:
    if city[4]=="Europe":
        european_list.append(city[1])
european_list

['Mannheim', 'Oxford']

## Small overview of list comprehension again - reviewing what we have learned
list_variable = [x for x in iterable]

In [ ]:
a = [x**2 for x in range(10)]
b = [2*m for m in range(13)]
c = [i for i in b if i== 12] #here we add a conditional statement
print(a)
print(b)
print(c)
list2 = ["a" for x in range(10)]
print(list2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
[12]
['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

**Alternative to for loops**

Lets say I want to create a list

In [ ]:
randomrange=range(5)#[0,1,2,3,4]
loopoption = []

# Add values to `new_list`
for x in randomrange:
    if x/2==0:
        loopoption.append(x+1)

# Print `new_list`
print(loopoption)

[1]

In [ ]:
comprehesionoption = [x+1 for x in randomrange if x/2==0]
comprehesionoption

[1]

From earlier

In [ ]:
random = 'Today is a sunny day, I need some Vitamin D'

In [ ]:
random_lower = [x.lower() for x in random.split()] #What does split do here?
random_lower

['today', 'is', 'a', 'sunny', 'day,', 'i', 'need', 'some', 'vitamin', 'd']

In [ ]:
#What does split do?
random_lower = [x.lower() for x in random]

# Functions

Why do we need functions?

- Lets say I have 100 different datasets that have different column names.
- I want uniform column names to all of them to be able to merge them
- I can rename the variables of each of the 100 datasets by writing 100 lines of code
- *OR I can write one function that takes the names of the different datasets in and does the work for me*

How do we use functions

- A function starts with the def command
- return ends the function and prints out the results

In [ ]:
def anything(x):
    result = x**1 + 100
    return (result) # ends the

to call a function

In [ ]:
anything(5)

105

Using functions and appending lists

In [ ]:
def y(x):
    result=pow(2,x)/2 #The pow() function returns the value of x to the power of y
    return (result)

In [ ]:
#Appending lists
xvalues=[]
yvalues=[]
for x in range(0,10): 
    xvalues.append(x)
    yvalues.append(y(x))

In [ ]:
xvalues

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
yvalues

[0.5, 1.0, 2.0, 4.0, 8.0, 16.0, 32.0, 64.0, 128.0, 256.0]

# Excercises

**Excercise 1**

Focusing on manipulating lists!

1. count how many times bananas occur
2. save last item in the list in the variable "oneitem"
3. save the third item in the list in the variable "thirditem"
4. return the items from the beginning to "chocolate"
5. add a new element to the list called "beef"
6. remove first element of list, uses pop function
7. Insert "grapes" instead of oranges
8. sort this list in ascending numbers, numbers=[1,9,8,5,2,7]
Make sure you dont overwrite the original list (by creating new lists)

In [ ]:
food=["apples","oranges","bananas","chocolate","strawberries","bananas"]

In [ ]:
#solution
#1
food.count("bananas")

2

In [ ]:
#2
#negative indexing, you receive last item
oneitem=food[-1] 
oneitem

'bananas'

In [ ]:
#3
thirditem=food[2] 
thirditem

'bananas'

In [ ]:
#4
print(food[:4]) #By leaving out the end value, the range will go on to the end of the list

['apples', 'oranges', 'bananas', 'chocolate']

In [ ]:
#5
# add a new element
food2=food
food2.append("beef")

print(food)

['apples', 'oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [ ]:
# 6
# remove an element
food3=food
food3.pop(0)

print (food)

['oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [ ]:
#7
food4=food
food4.insert(2,"grapes")   # Insert item at position i
food

['oranges',
 'bananas',
 'grapes',
 'chocolate',
 'strawberries',
 'bananas',
 'beef']

In [ ]:
#8
numbers=[1,9,8,5,2,7]
numbers.sort()
numbers

[1, 2, 5, 7, 8, 9]

**Excercise 2**

Add space between every letter of the string below

In [ ]:
string4="Test String"

In [ ]:
#solution

string_revised=" ".join(string4)
print (string_revised)

T e s t   S t r i n g

**Excercise 3**

Dictionaries

1. print all keys in the dictionary below
2. print all values in the dictionary below

In [ ]:
phd_dictionary={"teaching": 2,"dissertation":10,"coffee":20}

In [ ]:
#solution
phd_dictionary_keys = phd_dictionary.keys()
phd_dictionary_keys

dict_keys(['teaching', 'dissertation', 'coffee'])

In [ ]:
phd_dictionary_values = phd_dictionary.values()
phd_dictionary_values

dict_values([2, 10, 20])

**Excercise 4**

List comprehension: <br>
1. Split the sentece below, into list items
2. Lowercase all words
2. Count the number of charcters for every word in the list, excluding the word "the"

Use list comprehesion to perform 2 and 3

In [ ]:
sentence = "The hand sanitizer was actually clear glue."

In [ ]:
#solution
words = sentence.split()
words

['The', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [ ]:
words_lower = [item.lower() for item in words]
words_lower

['the', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [ ]:
word_lengths = [len(word) for word in words_lower if word != "the"]
print(word_lengths)

[4, 9, 3, 8, 5, 5]

**Excercise 5**

1. Please find the numbers that are common from list1 and list2 using list comprehesion. There are several ways to solve this. Hint: remember boolean operations, and check the usage of if in list comprehensions
2. Please find the numbers that are common from list1 and list2 using intersection. Hint: Think how sets can come handy here

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

In [ ]:
#solution
#1
common_num = [a for a in list_a for b in list_b if a == b]
common_num

[2, 3, 4]

In [ ]:
common_num1= [element for element in list_a if element in list_b]
common_num1

[2, 3, 4]

In [ ]:
#2
list_a_set = set(list_a)
intersection = list_a_set.intersection(list_b)
intersection

{2, 3, 4}

In [ ]:
#another way to do two
list(set(list_a).intersection(list_b))

[2, 3, 4]

**Excercise 6**

print the items in the list below in reverse one by one. <br/>
Outcome should look like: <br/>
10<br/>
7<br/>
3<br/>
2<br/>
1<br/>
800<br/>
100<br/>
66<br/>

In [1]:
a_random_list = [66,100,800,1,2,3,7,10]

In [4]:
#solution - a slice that steps backwards

#start at the end of the string and end at position 0,
#move with the step -1, negative one --> stepping backwards

for a in a_random_list[::-1]:
    print(a)

10
7
3
2
1
800
100
66

**Excercise 7**

1. Requests the name of the user
2. Ask users how many carbs they have eaten today 
3. Print a message saying that they have eaten too much carbs, if they ate over 2000, if they didnt print "youre good"

In [5]:
#solution
name=input("Whats your name? \t")

Whats your name? 	ash

In [6]:
carbs=input("How many carbs have you consumed today ?\t")
carbs=int(carbs)
carbs

How many carbs have you consumed today ?	0

0

In [ ]:
print(type(carbs))

<class 'int'>

In [7]:
if carbs>2000:
    print(name, "you have eaten too many carbs for today")
else:
    print(name, "youre good")

ash youre good

**Excercise 8**

- Define a varibale x to take a number as *input*, you will ask the user to enter any number. Tip:  you will need to understand and use the eval() function, why is it important here?
- Store in a list called "todolist", x (the number you have chose) items one at a time that the user has to do today. You do that by using the input function. So to say if the x variable is 2, users should be asked twice. Hint: To do that you need a for loop.
- Print the todolist

In [8]:
#solution
x=eval(input("Please enter any number"))

Please enter any number7

In [9]:
for i in range (x):
    todo=input("")

d
d
d
d
f
f
f

In [18]:
todolist=[]
for i in range(x):
    todo=input("What do you have to do?")
    todolist.append(todo)
print(todolist)

What do you have to do?clean
What do you have to do?organize
What do you have to do?work
What do you have to do?teach
What do you have to do?sleep
What do you have to do?sleep
What do you have to do?sleep lol
['clean', 'organize', 'work', 'teach', 'sleep', 'sleep', 'sleep lol']

**Excercise 9**

Use a loop over the number and letter lists below.  Think about how to write code that will produce the output below. Hint: you need two loops

1 <br>
a <br>
b<br>
c<br>
2<br>
a<br>
b<br>
c<br>
3<br>
a<br>
b<br>
c<br>

In [ ]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

In [ ]:
#solution
for x in numbers:
    print(x)
    for a in letters:
        print(a)

1
a
b
c
2
a
b
c
3
a
b
c

**Excercise 10**

- Define a function that returns absolute values. This function will use if and else statetemts so that it always returns the absolute value even if the inputted number is negative.
- Try this function out, once with the numbers -222 and 100

In [11]:
#solution
def absolute(x):
    if x >= 0:
        print( x)
    else:
        print( -x)

In [12]:
absolute(-222)
absolute(100)

222
100

**Excersise 11**

Looping over dictionaries

1. Create a dictionary with keys that have names of states in the US and the values are their capital
2. Print the keys of the dictionar
3. Print the values of the dictionary

In [ ]:
#solution
states_capital= {'Texas' : 'Austin', 'California' : 'Sacramento', 
                'Ohio' : 'Columbus', 'Pennsylvania' : 'Harrisburg'} 
states_capital

{'California': 'Sacramento',
 'Ohio': 'Columbus',
 'Pennsylvania': 'Harrisburg',
 'Texas': 'Austin'}

In [ ]:
for key in states_capital:
    print(key)

Texas
California
Ohio
Pennsylvania

In [ ]:
for value in states_capital.values(): 
    print(value)

Austin
Sacramento
Columbus
Harrisburg

**Excercise 12**

Looping and indexing. 

Print each letter in the word "awesome". Do that by using a for loop. 

Hint: Check out the range function.

In [15]:
word= ("awesome")

In [16]:
#solution
for i in range(len(word)):#pull out all elements you wanna work with
    print(word[i])

a
w
e
s
o
m
e

In [ ]:
word[2]

'e'